/* Apply styles to the AnchorPane */
.anchor-pane-login {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #3498db);
}

/* Style for the Login label */
.label-welcome {
    -fx-text-fill: white;
    -fx-font-size: 40px;
}

/* Style for the text fields */
.text-field-login {
    -fx-prompt-text-fill: #a9a9a9; /* Light gray prompt text */
    -fx-font-size: 16px; /* Increase font size for text fields */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-border-color: #3498db; /* Border color */
}

/* Style for the login button */
.button-get-started {
    -fx-background-color: #4CAF50; /* Green button color */
    -fx-text-fill: #fff; /* White text color */
    -fx-font-size: 18px;
    -fx-padding: 12px 24px; /* Increase padding */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Hover effect for the button */
.button-get-started:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
    -fx-effect: dropshadow(three-pass-box, #45a049, 10, 0, 0, 0); /* Add drop shadow on hover */
}

.hyperlink-login {
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 16px;
}
