.root{
    -fx-background-size: cover;
    -fx-background-position: bottom;
    -fx-background-repeat: repeat-x;
    -fx-background-image: url("background.png");
}

#loginAnchorPane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 4);
}

.hyperlink-register {
    -fx-text-fill: #06b2de;
    -fx-font-size: 20px;
}

#loginEmailField{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #696969;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #808080, 5, 0, 0, 4);
}

#loginpasswordField{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #696969;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #808080, 5, 0, 0, 4);
}

#progressBarAnchorPane{
    -fx-background-color: rgb(0, 0, 0, 0.4) 0.2;
}

.progressBar {
    -fx-accent: #906ade;
    -fx-background-color: #f9adad;
}

.progressBar .track{
    -fx-background-color: #f9adad;
}

.progressBar .bar {
    -fx-background-color: #906ade;
}

#loginButton {
    -fx-background-color: #664ed0;
    -fx-text-fill: white;
    -fx-font-size: 18.0;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
}

#loginButton:hover {
    -fx-background-color: #6007d5;
}
